.owl-carousel .owl-wrapper:after {content: ".";	display: block;	clear: both;	visibility: hidden;	line-height: 0;	height: 0;}
/* display none until init */
.owl-carousel{position: relative;	width: 100%;-ms-touch-action: pan-y;}
.owl-carousel .owl-wrapper{	display: none;	position: relative;	-webkit-transform: translate3d(0px, 0px, 0px);}
.owl-carousel .owl-wrapper-outer{	overflow: hidden;	position: relative;	width: 100%; top:6px;}
.owl-carousel .owl-wrapper-outer.autoHeight{-webkit-transition: height 500ms ease-in-out;	-moz-transition: height 500ms ease-in-out;	-ms-transition: height 500ms ease-in-out;	-o-transition: height 500ms ease-in-out;	transition: height 500ms ease-in-out;}	
.owl-carousel .owl-item{float: left;}
.owl-controls .owl-page,.owl-controls .owl-buttons div{	cursor: pointer;}
.owl-controls {	-webkit-user-select: none;	-khtml-user-select: none;	-moz-user-select: none;	-ms-user-select: none;	user-select: none;	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
/* mouse grab icon */
.grabbing {cursor:url(grabbing.html) 8 8, move;}
/* fix */
.owl-carousel  .owl-wrapper,.owl-carousel  .owl-item{-webkit-backface-visibility: hidden;	-moz-backface-visibility:    hidden;	-ms-backface-visibility:     hidden;  -webkit-transform: translate3d(0,0,0);  -moz-transform: translate3d(0,0,0);  -ms-transform: translate3d(0,0,0);}
.owl-controls.clickable{ display:block !important;}
/*.owl-pagination {display: none;}*/
.owl-buttons{ width: 40px;  height: 40px;    font-size: 0;    position: absolute;    top: 0px;    background: transparent;    border: 1px solid transparent;    left: 49px; display: none;}
.owl-buttons .owl-next,	.owl-prev{width:30px;  height:10px;    font-size:0;    position: absolute;    top:0px;	background:transparent;	border:1px solid transparent;	left: 49px;}
/*.owl-next {right:18px; background: red}*/
/*.owl-prev{left:5px; background: green !important;}*/
.owl-next:hover {color: #16639f !important;}
.owl-prev:hover {color: #16639f !important;}
.owl-prev:before {}
.owl-prev:before {content:url(../images/left.html);  position: absolute; top: 6px; left: 4px;}
.owl-next:after {font: normal normal normal 14px/1 FontAwesome; font-size: 40px;}	
.owl-next:after {content:url(../images/right.html);  position: absolute; color:#fff; top: -2px; left: 5px;}	
div#owl-demo {text-align: center;}


.owl-prev  { background: #87c62b;  width: 40px; height: 40px;  position: absolute;  left: 0;  top: 140px !important;}
.owl-next {background: #87c62b !important;  width: 40px !important;    height: 40px !important;    position: absolute !important;    right: 111px !important;    left: 985px !important;    top: 140px !important;}
/*.owl-next {border: none; width: 40px;  height: 40px;  left: 1000px; top: 145px; background: red;}*/
/*.owl-prev {border: none; width: 40px;  height: 40px;   top: 145px; background:red;}*/